.tour-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 50px 20px;
    .tour-image1{
        width: 340px;
        height: 448px;
        border-radius: 10px;
        border: 1px dashed #4931A8;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
       
        .addnew-tour{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 16px;
                position: relative;
                cursor: pointer;
                .add-icon{
                    width: 40px;
                    height: 40px;
                }
                .add-gallery{
                    width: 24px;
                     height: 24px;
                     position: absolute;
                     top: 7px;
                }
                .add-text{
                       color: #4931A8;
                        font-family: Plus Jakarta Sans;
                        font-size: 16px;
                        font-weight: 500;   
                }
        }
    }
    .tour-items{
        display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
    }
    .tour-item {
        display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        // background-color: #f0f0f0;
            // padding: 20px;
            // border-radius: 8px;
            // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            // text-align: center;
        .tour-title{
         display: flex;
                align-items: center;
                gap: 10px;
                .navigation-icon{
                    display: flex;
                        width: 24px;
                        height: 24px;
                        justify-content: center;
                        align-items: center;
                }
        }
        .tour-image{
        width: 340px;
        height: 448px;
        border-radius: 10px;
        position: relative;
        &:hover {
                cursor: pointer;
        
                .tour-details {
                    visibility: visible;
                }
            }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          
        }
        .tour-details{
           visibility: hidden;
            position:absolute;
            width: 340px;
            height: 448px;
            background-color:transparent;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 0px;
            padding-right: 10px;
            padding-top: 10px;
            border-radius: 10px;
            .download-div{
                display: flex;
                justify-content: flex-end;
                margin: 20px;
            .download-icon{
            position: relative;
            width: 34px;
            height: 34px;
            // justify-content: center;
            // align-items: center;
            .circle {
                    width: 34px;
                    height: 34px;
                }
            
                .download {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    top: 5px;
                    left: 5px;
                }
            }
        }
        .description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        .user{
            margin-left: 10px;
            display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                gap: 4px;
            .user-details{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                .circle1{
                    width: 32px;
                    height: 32px;
                    border-radius: 32px;
                }
                .user-name{
                    color: #FFF;
                        font-family: Plus Jakarta Sans;
                        font-size: 16px;
                        font-weight: 500;
                        padding-bottom: 10px;
                       
                }
            }
            .tour-description{
                p{
                color: #FFF;
                    font-family: Plus Jakarta Sans;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
         .download-icon {
             position: relative;
             width: 34px;
             height: 34px;
             display: flex;
             justify-content: center;
             align-items: center;
             gap: 6px;
             p{
                color: #FFF;
                 font-family: Plus Jakarta Sans;
                 font-size: 16px;
                 font-weight: 500;
                //  margin-right: 5px;
             }
             .circle {
                 width: 34px;
                 height: 34px;
             }
    
             .download {
                 position: absolute;
                 width: 24px;
                 height: 24px;
                 left: 5px;
             }
         }

    }
        }
        }
        h2 {
            color: #000;
                font-family: Plus Jakarta Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
        }
        p {
            font-size: 1rem;
            color: #555;
        }
        img {
            max-width: 100%;
            height: 250px;
            border-radius: 4px;
            margin-bottom: 10px;
            object-fit: cover;
        }
        .tour-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .edit-icon {
                color: blue;
            }
            .delete-icon {
                color: red;
                cursor: pointer;
            }
            .like-icon {
                color: green;
                cursor: pointer;
                padding-left: 10px;
            }
            .dislike-icon {
                color: red;
                cursor: pointer;
            }
            .edit-like {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 5px;
            }
        }
    }
}
